@import '@fontsource/dm-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222222;
}

html {
  background-color: #f7f7f7;
}

body {
  color: var(--foreground);
  background: #f7f7f7;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
